html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
a{
  color: inherit;
  display: inline-block;
  text-decoration: none;
}
ul, ol{
  margin: 0;
  padding: 0;
  list-style: none;
}
li{
  display: inline-block;
}
button, input, textarea{
  border: none;
  background-color: transparent;
}
button{
  cursor: pointer;
  padding: 0;
}
textarea{
  resize: none;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}
body, html{
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}
body{
  display: flex;
  flex-direction: column;
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000;
}
main{
  flex-grow: 1;
}
.container{
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}
.special-version{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  height: 90px;
  border-left: 1px solid $border-color;
  &__link{
    position: relative;
    padding: 13px 15px 11px 51px;
    color: #fff;
    background-color: $dark-green;
    line-height: 16px;
    text-transform: uppercase;
    &::before{
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: 15px;
      width: 26px;
      height: 22px;
      transform: translateY(-50%);
      background-image: url(../images/icons/eye.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
.social{
  display: flex;
  border-right: 1px solid $border-color;
  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90px;
    width: 80px;
    text-align: center;
    border-left: 1px solid $border-color;
  }
}
.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  width: 50px;
  height: 40px;
  text-align: center;
}
.inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tabs{
  &__item{
    display: none;
    &--active{
      display: block;
    }
  }
}