@import 'fonts';
@import 'vars';
@import 'global';


// START HEADER
.header{
  &__inner{
    display: flex;
    align-items: center;
    height: 90px;
  }
  &__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
    border-left: 1px solid $border-color;
    height: 100%;
  }
  &__tel{
    padding: 0 30px;
    font-size: 16px;
    line-height: 90px;
    border-left: 1px solid $border-color;
    height: 100%;
  }
}
.salons{
  padding-right: 30px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 1px solid $border-color;
  &__title{
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 19px;
    padding-right: 35px;
    &::after{
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $green;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-image: url(../images/icons/triangle.svg);
      background-position: center;
      background-size: 8px 7px;
      background-position: center 7px;
      background-repeat: no-repeat;
      transition: all .3s;
    }
  }
  &__list{
    position: absolute;
    z-index: 5;
    top: 100%;
    left: -1px;
    right: -.5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-top: none;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .3s;
    &-item,
    &-link{
      display: block;
    }
    &-item{
      & + &{
        border-top: 1px solid $border-color;
      }
    }
    &-link{
      padding: 10px 5px;
    }
  }
}
.salons:hover{
  .salons__list{
    transform: scale(1);
  }
  .salons__title::after{
    transform: rotate(180deg) translateY(50%);
  }
}
// END HEADER


//START OFFER
.offer{
  background-color: $green;
  color: #fff;
  &__top-line{
    display: flex;
    align-items: center;
    padding: 24px 0;
  }
  &__btn{
    padding: 10px 15px;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    margin-left: auto;
    margin-right: 10px;
  }
  .slick-arrow{
    position: absolute;
    z-index: 10;
    bottom: 60px;
    left: 370px;
    height: 50px;
    width: 60px;
  }
  .slick-next{
    left: 430px;
    border-left: none;
  }
}
.menu{
  margin-left: 60px;
  &__item + &__item{
    margin-left: 65px;
  }
  &__link{
    font-size: 18px;
  }
}
.offer__slider{
  &-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.offer__img{
  flex-basis: 50%;
  object-fit: cover;
  object-position: center;
}
.offer__about{
  flex-basis: 420px;
}
.offer__title{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 48px;
  height: 72px;
}
.offer__about-text{
  margin-bottom: 40px;
}
.offer__about-link{
  padding: 15px 25px;
  background-color: $dark-green;
  text-transform: uppercase;
  font-size: 18px;
}
.offer__links{
  display: flex;
}
.offer__link{
  flex-grow: 1;
  background-color: $dark-green;
  line-height: 80px;
  font-size: 21px;
  height: 80px;
  text-align: center;
  &:nth-child(even){
    background-color: $green;
  }
  &--big{
    flex-grow: 2;
  }
}
//END OFFER


//START ABOUT
.about{
  padding: 80px 0;
  &__btn{
    margin-bottom: 30px;
    @include btn;
  }
  &__details{
    position: relative;
    margin-left: 20px;
    flex-basis: 635px;
  }
  &__tabs{
    display: flex;
  }
}
.block{
  background-color: $dark-green;
  line-height: 0;
  flex-basis: 526px;
  flex-shrink: 0;
  &__body{
    color: #fff;
    line-height: 21px;
    padding: 40px 35px 45px;
  }
  &__text{
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 25px;
  }
  &__more{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    span{
      margin-right: 20px;
    }
  }
  &__img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 230px;
  }
}
.tabs__link-wrapper{
  & +&{
    margin-top: 15px;
  } 
}
.about__tabs-link{
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, .4);
  max-width: 230px;
}
.about__tabs-num{
  margin-right: 20px;
  font-size: 48px;
  line-height: 72px;
}
.about{
  .tabs__link--active{
    max-width: 460px;
    .about__tabs-num{
      color: $dark-green;
      font-size: 96px;
      line-height: 144px;
    }
    .about__tabs-text{
      color: #000;
      font-size: 28px;
      line-height: 42px;
    }
  }
}
.about__tabs-content{
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
}
.about__tabs-img{
  filter: drop-shadow(0px 0px 20px rgba(138, 138, 138, 0.25));

}
//END ABOUT


//START INFO
.info{
  margin-bottom: 100px;
  .inner{
    align-items: stretch;
  }
  &__tabs-controls{
    color: #fff;
    background-color: $green;
    flex-basis: 526px;
    flex-shrink: 0;
  }
  &__btn{
    margin: 35px 40px 30px;
    @include btn($background: $dark-green)
  }
  &__tabs-link{
    display: block;
    padding: 35px 40px;
    font-size: 18px;
    line-height: 27px;
    width: 100%;
    transition: all .3s;
    &--active{
      background-color: $dark-green;
    }
  }
  &__tabs-item{
    display: none;
    &--active{
      display: block;
    }
  }
  &__tabs-content{
    padding: 35px 60px;
    background-color: rgba(0, 134, 138, .1);
  }
  &__item-title{
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
  }
  &__list-item{
    position: relative;
    padding-left: 21px;
    & + &{
      margin-top: 15px;
    }
    &::before{
      content: '';
      position: absolute;
      left: 0;
      top: 7px;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      background-color: $dark-green;
    }
  }
}
//END INFO


//START SERVICES
.services{
  position: relative;
  padding: 80px 0 100px;
  &::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 350px;
    background-color: rgba(0, 134, 138, .1);
  }
  &__inner{
    margin-left: -25px;
  }
  &__title{
    color: $dark-green;
    margin-bottom: 60px;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
  }
  &__item{
    margin-left: 25px;
    flex-basis: calc(25% - 25px);
  }
  &__item-img{
    height: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__item-tag{
    @include btn;
    margin: 30px 0 0 30px;
  }
  &__item-body{
    padding: 25px 30px;
    background-color: $dark-green;
    color: #fff;
  }
  &__item-title{
    display: flex;
    align-items: center;
    font-size: 21px;
    line-height: 31px;
    font-weight: 700;
    span{
      margin-left: 15px;
      flex-shrink: 0;
    }
  }
}
//END SERVICES


//START FOOTER
.footer{
  &__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  &__info{
    display: grid;
    grid-template-columns: repeat(3, 160px);
    row-gap: 30px;
    column-gap: 190px;
    max-width: 856px;
  }
  &__col-title{
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 35px;
    font-weight: 700;
  }
  &__list-item + &__list-item{
    margin-top: 15px;
  }
  &__contacts{
    margin-right: 65px;
  }
  &__contacts-item + &__contacts-item{
    margin-top: 30px;
  }
  &__contacts-title{
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 11px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  &__contacts-info{
    font-size: 21px;
    line-height: 32px;
    font-weight: 700;
  }
  &__contacts-btn{
    @include btn($background: $dark-green);
    padding: 15px 25px;
    margin-top: 15px;
    text-transform: uppercase;
  }
  &__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid $border-color;
    border-top: 1px solid $border-color;
    font-size: 12px;
    line-height: 18px;
  }
  &__copy{
    margin-left: 25px;
    flex-basis: 300px;
    font-weight: 400;
  }
  &__politics{
    text-decoration: underline;
    margin: 0 70px;
  }
  .special-version__link{
    font-size: 14px;
  }
}
//END FOOTER


@import 'media';