@import 'fonts';
@import 'vars';
@import 'global';


// START HEADER
.header{
  &__inner{
    display: flex;
    align-items: center;
    height: 90px;
  }
  &__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 35px;
    border-left: 1px solid $border-color;
    height: 100%;
  }
  &__tel{
    padding: 0 30px;
    font-size: 16px;
    line-height: 90px;
    border-left: 1px solid $border-color;
    height: 100%;
  }
}
.salons{
  padding-right: 30px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 1px solid $border-color;
  &__title{
    position: relative;
    padding-left: 30px;
    font-size: 16px;
    line-height: 19px;
    padding-right: 35px;
    &::after{
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: $green;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-image: url(../images/icons/triangle.svg);
      background-position: center;
      background-size: 8px 7px;
      background-position: center 7px;
      background-repeat: no-repeat;
      transition: all .3s;
    }
  }
  &__list{
    position: absolute;
    top: 100%;
    left: -1px;
    right: -.5px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid $border-color;
    border-top: none;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .3s;
    &-item,
    &-link{
      display: block;
    }
    &-item{
      & + &{
        border-top: 1px solid $border-color;
      }
    }
    &-link{
      padding: 10px 5px;
    }
  }
}
.salons:hover{
  .salons__list{
    transform: scale(1);
  }
  .salons__title::after{
    transform: rotate(180deg) translateY(50%);
  }
}
// END HEADER


@import 'media';